# Mindrift Frontend Environment Configuration Template

# Base URL for the Spring Boot Backend API
NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1

# Clerk Authentication Publishable Key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmV4dC1kaW5nby05Ni5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_yssTgTn6BZXpypKmKeNEBDVNTRdJ8RxlRtWvQ3gEXm

# Supabase Client Configuration
NEXT_PUBLIC_SUPABASE_URL=https://kYhbOjv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
